# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore virtual environment folders
venv/
.env/
.venv/
llmenv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/

# Ignore logs
*.log
